/*
Author: Shane Shimizu, Daniel Francis Barit
File Description: CSS for all files EXCEPT registration and login page
Date: 11/30/19
*/

/*Source: WebDevSimplified: https://github.com/WebDevSimplified/Introduction-to-Web-Development/tree/master/Introduction%20to%20CSS/Lesson%203*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@import url("//fonts.googleapis.com/css?family=Montserrat:400");
@import url("//fonts.googleapis.com/css?family=Montserrat:700");

@font-face {
  font-family: "Booter - Zero Zero";
  src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
  url("Fonts/Booter - Zero Zero.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
  color: #777;
}

.footer-home{
  height: 100px;
  /*border: 3px solid;*/
  border-color: red;
  position: relative;

}

.follow-footer{
  text-align: center;
  font-size: 20px;

}

.socials-size{
  height: 30px;
}


.socials{
  text-align: center;
  padding-top: 2%;
  
}
.body-products{
  height: 550px;
  /*border: 3px solid;*/
  border-color: blue;
  position: relative;
  text-align: center;

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
   animation: fadein 3s;
}
.body-products > div{
  position: relative;

}

.body-productstwo-title{
  font-weight: bold;
  font-size: 30px;
}
.largeimages{
  height: 520px;
 
}

#slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {left: 0;}
  20% {left: 0;}
  25% {left: -100%;}
  45% {left: -100%;}
  50% {left: -200%;}
  70% {left: -200%;}
  75% {left: -300%;}
  95% {left: -300%;}
  100% {left: -400%;}
}
.body-productstwo {
  height: 350px;
  /*border: 3px solid;*/
  border-color: orange;
  text-align: center;
  position: relative;


  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
   animation: fadein 3s;
  
}



.body-productstwo .text-over-image {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;        
  text-align: center;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  font-family: "Montserrat";
  color: #fff;
  width: 60%; /* Set the width of the positioned div */
  font-weight: bold;
  
}
.body-productsthree{
  height: 400px;
  /*border: 3px solid;*/
  border-color: blue;
  position: relative;
  display: flex;
  background-image: url("Images/alohalogofinal2.PNG");
  background-blend-mode: lighten;


  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
   animation: fadein 3s;
 
}
.about-image{
  height: 400px;
  padding-top: 0.5%;
  vertical-align: middle;
  padding-left: 90%;

  float: left;
}
.about-written{
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 10%;
  float: right;
  text-align: center;
}
.about-header{
  font-weight: bold;
  font-size:30px;
}


.clickable-images{
  display: inline-block;
  position: relative;
  top: 50%;            
  transform: translate(0, -50%);

}

.clickable-images-size{
  height: 310px;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
   
    background-size: cover;
}

/*Navigation bar*/

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
  font-size: 25px;
}

.nav a {
  display: inline-block;
  padding: .5em;
  color: black;
  text-decoration: none;
}

/*main*/

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid white
}
.brandlogo{
  height: 70px;
}
.main-nav li {
  padding: 0 2%;
}

.nav a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-header {
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20px;
}

/*titles*/
.title-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: "Montserrat";;
  font-weight: 700;
  color: black;
}

/*Fade-in animations source: Peter Mortensen and A.M.K; Stack overflow: https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load*/
.title-name-large {
  font-size: 8em;

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

/*content/container*/

.content-section {
  margin: 1em;
}

.container {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

/*Fade-in animations source: Peter Mortensen and A.M.K; Stack overflow: https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load*/

.section-header {
  font-family: "Metal Mania", verdana;
  font-weight: normal;
  color:black;
  text-align: center;
  font-size: 4em;

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
   animation: fadein 3s;
}

/*heading*/

.about-title-image {
  float: left;
  height: 100px;
  width: 100px;
  margin: 15px;
  border-radius: 50%;
}

/*footer*/

.main-footer {
  background-color: #56CCF2;
  color: white;
  padding: .25em 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 .5em;
}

.footer-nav img {
  width: 30px;
  height: 30px;  
}

/*button*/

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
}

.btn-header {
  margin: .5em 15% 2em 15%;
  color: white;
  border: 2px solid #2D9CDB;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.973);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: rgb(73, 222, 255);
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
}

.btn-primary {
  color: black;
  background-color: rgb(0, 229, 255);
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: rgb(36, 148, 196);
}

/*Fade-in animations source: Peter Mortensen and A.M.K; Stack overflow: https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load*/

/*products display*/

.shop-item {
  margin: 50px;
  
  position: center;
  border-radius: .9em;
  text-align: center;
  border-color: red;
  border: 3px;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
  padding-bottom: 100px;


  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;

}

/*product fade-in animation*/

@keyframes fadein {
  from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*product title*/

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2.2em;
  color: black;
  margin-bottom: 15px;
  font-family: "Metal Mania", verdana;
  cursor: pointer;

}

.shop-item-title:hover{
  color:blue;
}
/*product image*/

.shop-item-image {
  height: 250px;
  animation: animation 1000ms linear both;
  align-content: center;
  border-radius: 0.50em; 

}



/*transition in animation for images*/
/* Transition animation source from: Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22c%22%2Ce%3A%22B%22%2Cd%3A1000%2CD%3A0%2Cf%3A%7Bx%3A1%2Cy%3A1%7D%2Ct%3A%7Bx%3A2%2Cy%3A2%7D%2Cs%3A3%2Cb%3A4%7D%5D%7D */

@keyframes animation { 
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.61% { transform: matrix3d(1.645, 0, 0, 0, 0, 1.645, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

/*product quantity, price*/

.shop-item-details {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

/*product description*/

.shop-item-description{
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

/*product price*/

.shop-item-price {
  flex-grow: 1;
  color: black;
  font-weight: bold;
  font-size: 30px;
  font-family: "Metal Mania", verdana;

}

/*quantity text*/

.shop-item-quantity {
  flex-grow: 1;
  font-size: 20px;
}

/*error display on input*/

.shop-item-error {
  flex-grow: 1;
  font-size: 20px;
  color: red;
}

/*general display of overal products*/

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*input box*/

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
}

/*purchase button*/

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
  font-family: "Montserrat", verdana;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*Source from: w3 Schools: https://www.w3schools.com/css/css3_animations.asp*/
/*enlarges image on mouse hover*/

.enlarge {
  transition: transform .2s; /* Animation */
}

/*how large the images transforms*/

.enlarge:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*invoice css, source from: https://codepen.io/tjoen/pen/vCHfu */

* {
  border: 0;
  box-sizing: content-box;
  color: inherit;
  font-family: inherit, verdana;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: top;
}

/*h1 headings for invoice*/

.hOne { 
  font: bold 100% sans-serif; 
  letter-spacing: 0.5em; 
  text-align: center; 
  text-transform: uppercase; 
}
  
/* table  for invoice */

table { 
  font-size: 75%; table-layout: fixed; width: 100%; 
}

table { 
  border-collapse: separate; border-spacing: 2px; 
}

th, td {
  border-width: 1px; 
  padding: 0.5em; 
  position: relative; 
  text-align: left; 
}

th, td { 
  border-radius: 0.25em; 
  border-style: solid; 
}

th { 
  background: rgb(0, 0, 0); 
  border-color: #BBB; 
  color: white; 
}

td { 
  border-color: #DDD; 
}
  
/* for overal invoice page*/
  
.htmltwo { 
  font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; 
}

.htmltwo {
  background-image: "./public/Images/wavesback.jpg"; cursor: default; 
}
  
.bodytwo { 
  box-sizing: border-box; height: in; margin: 0 auto; overflow: hidden; padding: 0.5in; width: 8.5in; 
}

.bodytwo { 
  background: #FFF; 
  border-radius: 1px; 
  box-shadow: 0 0 1in -0.25in rgba(255, 255, 255, 0.5); 
}
  
/* header of invoice page*/
  
.headertwo { 
  margin: 0 0 3em; 
}

.headertwo:after { 
  clear: both; 
  content: ""; 
  display: table;
}
  
.headertwo .hOne { 
  background: rgb(0, 0, 0); 
  border-radius: 0.25em; 
  color: #FFF; 
  margin: 0 0 1em; 
  padding: 0.5em 0; 
}

.headertwo address { 
  float: left; 
  font-size: 75%; 
  font-style: normal; 
  line-height: 1.25; 
  margin: 0 1em 1em 0; 
}

.userinfo{ 
  float: left; 
  font-size: 75%; 
  font-style: normal; 
  line-height: 1.25; 
  margin: 0 1em 1em 0; 
}

.headertwo address p { 
  margin: 0 0 0.25em; 
}

.headertwo span, .headertwo img { 
  display: block; 
  float: right; 
}

.headertwo span { 
  margin: 0 0 1em 1em; 
  max-height: 25%; 
  max-width: 60%; 
  position: relative; 
}

.headertwo img { 
  max-height: 100%; 
  max-width: 100%; 
}
 
/* article tags of invoice*/
  
article, article address, table.meta, table.inventory { 
  margin: 0 0 3em; 
}

article:after { 
  clear: both; 
  content: ""; 
  display: table; 
}

article .hOne { 
  clip: rect(0 0 0 0); 
  position: absolute; 
}
  
article address { 
  float: left; 
  font-size: 125%; 
  font-weight: bold; 
}
  
/* table meta & balance for invoice */
  
table.meta, table.balance { 
  float: right; 
  width: 36%; 
}

table.meta:after, table.balance:after { 
  clear: both; 
  content: ""; 
  display: table; 
}
  
/* table meta for invoice */
  
table.meta th { 
  width: 40%; 
}

table.meta td { 
  width: 60%; 
}
  
/* table items for invoice*/
  
table.inventory { 
  clear: both; 
  width: 100%; 
}

table.inventory th { 
  font-weight: bold; 
  text-align: center; 
}
  
table.inventory td:nth-child(1) { 
  width: 26%; 
}

table.inventory td:nth-child(2) {
  width: 38%; 
}

table.inventory td:nth-child(3) {
  text-align: right; width: 12%; 
}

table.inventory td:nth-child(4) { 
  text-align: right; width: 12%; 
}

table.inventory td:nth-child(5) { 
  text-align: right; width: 12%; 
}
  
/* table balance for invoice*/
  
table.balance th, table.balance td { 
  width: 50%; 
}

table.balance td { 
  text-align: right; 
}
  
/* aside tags for invoice*/
  
aside .hOne { 
  border: none; 
  border-width: 0 0 1px; 
  margin: 0 0 1em; 
}

aside .hOne { 
  border-color: rgb(50, 149, 225); 
  border-bottom-style: solid; 
}
  
@media print {
  * { -webkit-print-color-adjust: exact; }
  .htmltwo { background: none; padding: 0; }
  .bodytwo { box-shadow: none; margin: 0; }
  span:empty { display: none; }
  .add, .cut { display: none; }
}
  
@page { 
  margin: 0; 
}

/*title under thank you for invoice*/

.emphasis {
  font-style: italic;
  font-size: 10px;
}

/*for invoice total*/

.invoicetotal {
  font-style: bold;
}

/*Source from: W3 Schools, https://www.w3schools.com/howto/howto_css_fullscreen_video.asp */
/*sets the background video of homepage*/
#homebackground {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/*shane logo background for invoice*/
.shanelogo {
  height: 20px;
  padding-left: 20px;
  opacity: 0.1;
  float: right;
}